<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário</title>
</head>
<body>
    <form action="/processar_dados" method="post">
        <label for="mediana">Mediana:</label>
        <input type="text" id="mediana" name="mediana" required><br>

        <label for="variancia">Variância:</label>
        <input type="text" id="variancia" name="variancia" required><br>

        <label for="desvio_padrao">Desvio Padrão:</label>
        <input type="text" id="desvio_padrao" name="desvio_padrao" required><br>

        <input type="submit" value="Enviar">
    </form>
</body>
</html>